{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>All Products</h1>
        <hr>
        {% for product in products %}
        <div class="row">
            <div class="col-sm-4">
                <a href="{% url 'product_detail' product.pk %}">
                </a>
            </div>
            <div class="col-sm-8">
                <h3><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></h3>
                <p>{{ product.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}